@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/*Menu Lateral*/
:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --tran-03: all 0.2s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar.close ~ .home {
    left: 78px;
    width: calc(100% - 78px);
}

.home {
    position: relative;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



/*Forms do Usuários*/
.form {
    width: 50%;
    background-color: white;
    padding: 3rem;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.form-header {
    position: relative;
    margin-bottom: 1rem;
}

.form-header h1 {
    margin-bottom: 0;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #695CFE;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: calc(50% - 1rem);
    margin-bottom: 1rem;
}

.input-box input,
.input-box select {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: -1px 1px 6px #0000001c;
    width: 100%;
    box-sizing: border-box;
}

.input-box input:hover,
.input-box select:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible,
.input-box select:focus-visible {
    outline: 1px solid #00000000;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}

.cadastrar-button {
    display: flex;
    justify-content: center;
}

.cadastrar-button button {
    width: 200px;
    margin-top: 2.5rem;
    border: none;
    background-color: black;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 0.93rem;
    font-weight: 500;
}

.cadastrar-button button:hover {
    background-color: #333;
}



/*Tabela de Usuários*/
.table-container {
    width: 80%;
    background-color: white;
    padding: 1.5rem;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-height: 500px;
    overflow-x: auto;
    position: relative;
}

.table-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 12px;
    background-color: #f4f4f4;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

th {
    background-color: #695CFE;
    color: white;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    vertical-align: middle;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

td button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 0.875rem;
    margin: 0;
}

.edit-btn {
    background-color: #4CAF50;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #e53935;
}